/* ALERT!!! You'll need a basic understanding of code to make changes to this file. If you don't fit this description, then please close this file! */
/* This does NOT need to change! only change if you know what you are doing! */

/* Font */
@font-face {
    font-family: "Inter";
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
}

/* Setup */
html, body {
    height: 100%;
    width: 100%;

    margin: 0;

    background-color: var(--background_2);

    font-family: "Inter", Arial;

    overflow-x: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: row;
}

section {
    display: block;
    position: relative;
    z-index: 0;
}

/* Navigation */
nav {
    background-color: var(--background_1);

    width: 14vw;
    height: 100%;
    position: fixed;
    transform: translateX(-24vh);

    border: solid;
    border-width: 0 7px 0 0;
    border-color: black;

    box-shadow: 10px -10px 10px #00000040;

    display: flex;
    flex-direction: column;

    transition: transform 0.5s ease;
    z-index: 2;

    overflow: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

nav::-webkit-scrollbar {
    display: none;
 }

nav:hover {
    transform: translateX(0vh);
}

nav a {
    color: var(--borders_text);

    font-size: 1.6vw;
    font-weight: bold;
    text-decoration: none;
    margin: 0vw 0px 0px 4.5vw;

    padding: 15px;

    transition: all 0.5s ease;
}

nav a:hover {
    color: var(--link);
    font-size: 1.7vw;
}

#logo {
    position: absolute;
    margin: 10px;
}

/* Content */
#content {
    transform: translateX(1vw);
}

header {
    background-color:var(--background_1);

    font-size: 2.5vw;
    text-shadow: #00000040 0px 4px 4px;

    border-bottom: 7px solid var(--borders_text);
    
    padding-left: 6vw;
    padding-top: 1vh;
    margin: 0;

    position: relative;
    z-index: 1;
}

p {
    color: var(--borders_text);

    font-size: 1.5vw;

    padding: 6vw;
    padding-top: 6vh;
    padding-bottom: 6vh;
    margin: 0;
}

article {
    background-color: var(--background_2);
}

article a {
    font-size: 25px;

    padding: 6vw;
    margin: 500px 0px 0px 0px;

    color: var(--link);
}

article a::after {
    content: ' ↑';
    display:inline-block;
    text-decoration: none;
}

#map {
    background-color: #ffffff;

    width: 100%;
    height: 25vw;

    object-fit: cover;
}

#item {
    position: absolute;
    transform: translateY(12vw);
    width: 300px;
    right: -70px;
}

/* Footer */
footer {
    background-color: black;
    color: white;

    margin: 0;
    padding: 10px;
    bottom: 0px;

    position: fixed;

    text-align: center;
    font-size: 0.7vw;

    width: 100%;
}

/* Additional Mobile Styling */
@media (max-width: 1400px) {
    nav {
        display: none;
    }

    #content {
        transform: translateX(0vw);
    }

    header {
        font-size: 8vw;
    }

    p {
        font-size: 6vw;
        padding-bottom: 4vh;
    }

    article a {
        font-size: 7vw;
        padding-bottom: 8vh;
    }

    #map {
        height: 60vh;
    }

    #item {
        transform: translateY(35vh);
    
        width: 300px;
    }

    footer {
        font-size: 2vw;
    }
}